.logo1
{
    font-family: 'Kaushan Script', cursive;
}
.section-follow .fa-4x
{
    margin: 5px 10px;
}
.t1
{
    font-family: 'Concert One', cursive;
    text-decoration: underline;
}
.ro
{
    padding: 80px;
}
.t2
{
    font-family: 'Concert One', cursive;
    text-decoration: underline;
    font-size: 30px;
}
